body {
    background-image: linear-gradient(rgba(11, 11, 11, 0.799), rgba(237, 237, 237, 0.5)), url("curry.jpeg");
    background-size: cover;
    background-position: center;
    z-index: 0;
    background-color: red;
    color: white;
}



h1,
p {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    min-width: 300px;
    max-width: 500px;
}


form {
    margin: 30px auto;
    background-color: rgba(47, 47, 47, 0.813);
    min-width: 300px;
    max-width: 500px;
    padding: 15px;
    border: solid rgb(32, 32, 32);
    border-radius: 7px;
}

fieldset {
    border: none;
    margin: 7px 0;
    border-bottom: 1px solid black;

}

label,
select,
textarea {
    display: block;
}

input,
select {
    margin: 10px 0;
    width: 100%;
    padding-top: 2px auto;
}

.inline {
    width: unset;
    margin: 10px 5px;
    vertical-align: middle;
}

textarea {
    margin: 10px 10px 0 0;
    width: 100%;
}

#submit {
    display: block;
    margin: 1em auto;
    width: 60%;
    min-width: 300px;
    background-color: rgb(32, 32, 32);
    border: solid 2px rgb(214, 214, 214);
    border-radius: 3px;
    padding: 5px;
    color: white;
}

#submit:hover {
    background-color: white;
    border: solid 2px rgb(32, 32, 32);
    color: rgb(32, 32, 32);
}